
.icon-001-games:before { content: '\e800'; } /* '' */
.icon-001-schedule:before { content: '\e801'; } /* '' */
.icon-002-time:before { content: '\e802'; } /* '' */
.icon-003-shield-1:before { content: '\e803'; } /* '' */
.icon-004-game-2:before { content: '\e804'; } /* '' */
.icon-005-shield:before { content: '\e805'; } /* '' */
.icon-006-black:before { content: '\e806'; } /* '' */
.icon-007-graphic:before { content: '\e807'; } /* '' */
.icon-008-symbol:before { content: '\e808'; } /* '' */
.icon-009-soccer-ball-in-front-of-the-arch:before { content: '\e809'; } /* '' */
.icon-010-game-1:before { content: '\e80a'; } /* '' */
.icon-011-shapes:before { content: '\e80b'; } /* '' */
.icon-012-game:before { content: '\e80c'; } /* '' */
.icon-013-football-whistle-of-referee:before { content: '\e80d'; } /* '' */
.icon-014-barcelona:before { content: '\e80e'; } /* '' */
.icon-015-flag:before { content: '\e80f'; } /* '' */
.icon-016-ball:before { content: '\e810'; } /* '' */
.icon-017-scoreboard:before { content: '\e811'; } /* '' */
.icon-018-cheering:before { content: '\e812'; } /* '' */
.icon-019-football-1:before { content: '\e813'; } /* '' */
.icon-020-strategy:before { content: '\e814'; } /* '' */
.icon-021-football:before { content: '\e815'; } /* '' */
.icon-022-real-madrid:before { content: '\e816'; } /* '' */
.icon-023-commentator:before { content: '\e817'; } /* '' */