
.icon-goal:before { content: '\e800'; } /* '' */
.icon-001-games:before { content: '\e801'; } /* '' */
.icon-002-graphic:before { content: '\e802'; } /* '' */
.icon-004-symbol:before { content: '\e803'; } /* '' */
.icon-005-soccer-ball-in-front-of-the-arch:before { content: '\e804'; } /* '' */
.icon-006-soccer-goal-ball-entrance-centered-in-arch:before { content: '\e805'; } /* '' */
.icon-007-goal-word-in-a-label-of-star-shape:before { content: '\e806'; } /* '' */
.icon-003-ball:before { content: '\e807'; } /* '' */